@charset "utf-8";
/* CSS Document */

@media only screen and (min-device-width: 320px) and (max-device-width: 502px) {

	.filter-options {
		/*margin: 0px 30px;*/
	}

	#restaurant-container{
		flex-flow: column;
	}

	.restaurant-header {
		width:90%;
	}

	.restaurant-info {
		margin-top: 10px;
		width:100%;
	}

	#restaurant-name {
		font-size: 12px;
		font-weight: bold;
	}

	#restaurant-img {
		height: 200px;
		width: auto;
	}

  #restaurants-list li {
  	flex: auto;
  	justify-content: space-between;
  }

	#reviews-list li {
		padding: 15px;
	}

}

@media screen and (min-width: 503px) {

	#restaurants-list li {
	  flex: 0 0 44%;
	}

	#restaurant-address {
		font-size: 12pt;
		padding-left: 10px;
		padding-right: 10px;
	}

	#reviews-list li {
		padding: 15px;
	}

}

@media screen and (min-width: 900px) {

	.container, .inside {
		margin-left: auto;
		margin-right: auto;
	}

	#restaurants-list li {
	  max-width: 25%;
	}

}
